$darkInk:#484d51;
$ContentColor:#898989;
$lightGray:#b1b1b1;
$darkBrown:#a1a1a1;
$golden:#c0a490;


//$songti:'STSong', 宋体, sans-serif;
$songti:'Microsoft YaHei', 微软雅黑,Arial, sans-serif;
$yahei:'Microsoft YaHei', 微软雅黑,Arial, sans-serif;
