$left: 69px;
$naviWidth: 50%;
$naviWidth2: 40%;

div, pre {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

body {
  overflow-x: hidden;
  margin: 0 0;
  left: 0;
  top: 0;
}

/*=======特殊按钮效果=======*/

.hoverButton, .hoverButtonB {
  width: 10em;
  height: 2.5em;
  transition: color 3s;
  line-height: 2.5;
  margin-top: 2em;
  text-align: center;
  color: #FFF;
}

.hoverButtonB {
  color: #111;
}

.hoverButton:before, .hoverButtonB:before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  width: 10em;
  height: 2.6em;
  background: #FFF;
  text-align: center;
  z-index: -2;
  transition: opacity 1s;
  opacity: 0;
}

.hoverButtonB:before {
  background: #666;
}

.hoverButton:hover {
  color: #000;
}

.hoverButtonB:hover {
  color: #FFF;
}

.hoverButton:hover:before, .hoverButtonB:hover:before {
  opacity: 1;
}

.hoverButton:after, .hoverButtonB:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10em;
  height: 2.5em;
  border: solid #FFF 1px;
}

.hoverButtonB:after {
  border: solid #CCC 1px;
}

/*------特殊按钮End------*/

/*========menu动态效果========*/
.Menu_link {
  display: block;
  position: relative;
  width: #{$left};
  height: #{$left};
  cursor: pointer;
  border-bottom: 1px solid #f5f5f5;
}

@media screen and (min-width: 600px) {
  .Menu_hamburger:before {
    top: -4px;
  }

  .Menu_hamburger:after {
    top: 4px;
  }

  .Menu_hamburger, .Menu_hamburger:after, .Menu_hamburger:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 1px;
    background-color: #000;
  }

  .Menu_hamburger.Menu_init_animateIn:before {
    animation: Anti_Menu_topHam .8s ease-in-out forwards;
  }

  .Menu_hamburger.Menu_init_animateIn:after {
    animation: Anti_Menu_bottomHam .8s ease-in-out forwards;
  }

  .Menu_init_animateIn {
    animation: Anti_Menu_middleHam .8s ease-in-out forwards;
  }

}

@media screen and (max-width: 780px) {
  .Menu_link {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    background-color: #000;
    opacity: 0.6;
    border-bottom: 0px solid #f5f5f5;
  }

  .Menu_hamburger:before {
    top: -4px;
  }

  .Menu_hamburger:after {
    top: 4px;
  }

  .Menu_hamburger, .Menu_hamburger:after, .Menu_hamburger:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: #fff;
  }

}

@keyframes Anti_Menu_middleHam {
  0% {
    background-color: transparent
  }
  50% {
    background-color: transparent
  }
  to {
    background-color: #000
  }
}

@keyframes Anti_Menu_bottomHam {
  0% {
    top: 0;
    transform: rotate(-45deg);
  }
  50% {
    top: 0;
    transform: rotate(0deg);
  }
  100% {
    top: 5px;
    transform: rotate(0deg);
  }
}

@keyframes Anti_Menu_topHam {
  0% {
    top: 0;
    transform: rotate(45deg);
  }
  50% {
    top: 0;
    transform: rotate(0deg);
  }
  100% {
    top: -5px;
    transform: rotate(0deg);
  }
}

.Menu_hamburger.Menu_animateIn:before {
  -webkit-animation: Menu_topHam .4s ease-in-out forwards;
  animation: Menu_topHam .4s ease-in-out forwards;
}

.Menu_hamburger.Menu_animateIn:after {
  -webkit-animation: Menu_bottomHam .4s ease-in-out forwards;
  animation: Menu_bottomHam .4s ease-in-out forwards;
}

@keyframes Menu_topHam {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 1;
    transform: rotate(45deg);
  }
}

@keyframes Menu_middleHam {
  30% {
    background-color: #000
  }
  50% {
    background-color: transparent
  }
  to {
    background-color: transparent
  }
}

@keyframes Menu_bottomHam {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 1;
    transform: rotate(-45deg);
  }
}

.Menu_animateIn {
  -webkit-animation: Menu_middleHam .4s ease-in-out forwards;
  animation: Menu_middleHam .4s ease-in-out forwards;
  animation-name: Menu_middleHam;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-delay: initial;
  animation-iteration-count: initial;
  animation-direction: initial;
  animation-fill-mode: forwards;
  animation-play-state: initial;
}

.Menu_hamburger {
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/*========menu动态效果END========*/
/*========图形========*/

.dark_red {
  background-color: #C0A490;
}

.v_line {
  position: relative;
  width: 1px;
  left: 50%;
  height: 80%;
}

.line {
  width: 3em;
  height: 2px;
  top: 1.5em;
  left: 0;
}

/*--------图形End--------*/
/*========字体========*/

.title1 {
  color: #484D51;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "STSongti", "宋体", Arial, sans-serif;
  font-size: 3.0em;
}

.title2 {
  color: #CAB2A1;
  font-size: 0.8em;
}

.title3 {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.clickable {
  transition: opacity 0.5s;
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.5;
}

.content1 {
  text-indent: 2em;
  color: #4A4F53;
}

.content2 {
  color: #CBCBCB;
}

.text {
  letter-spacing: 0.2em;
  line-height: 1.75;
}

$font-size: 12px;
$line-height: 1.4;
$lines-to-show: 2;

.ellipsis {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 300px;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*========浮现效果=====*/
.fadeIn {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(0, 1em);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/*-------浮现效果End------*/

/*========字体END========*/

.wrap-img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
}

.mask:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
}

.pointer {
  position: absolute;
  left: 0;
  top: 0;
  height: 2.4em;
  width: 2px;
  background: #597;
}

/*==========Logo===========*/
.logo {
  margin-left: 48px;
  margin-top: 38px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'STSong', 宋体, sans-serif;
  animation: logo_anim 2s ease-in-out forwards;
}

.logowrap {
  z-index: 20;
  position: fixed;
  left: 70px;
  top: 0;
  color: #FFF;
  .l1:before {
    content: 'Open';
    position: absolute;
    left: 0.2em;
    opacity: 1;
    animation: logo_hide 2s both;
    animation-delay: 1s;
  }
  .l2:before {
    content: 'Water';
    position: absolute;
    left: 2.5em;
    opacity: 1;
    animation: logo_hide 2s both;
    animation-delay: 2s;
  }
  .l1:after {
    content: '开水';
    position: absolute;
    left: 0.2em;
    opacity: 1;
    width: 4em;
    animation: logo_show 2s both;
    animation-delay: 2s;
  }
  .l2:after {
    content: '科技';
    position: absolute;
    left: 2.5em;
    width: 4em;
    opacity: 1;
    animation: logo_show 2s both;
    animation-delay: 3s;
  }
  .l1, .l2 {
    animation: logo_gone 2s infinite both;
    animation-delay: 5s;
  }
}

@keyframes logo_gone {
  from {
    opacity: 1;
  }
  20% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes logo_show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes logo_hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes logo_anim {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

/*-------Logo End------*/
.menuPanel {
  margin-left: 48px;
  margin-top: 9em;
}

.naviItem, .naviItem2 {
  margin-top: 2em;
  font-family: '微软雅黑', serif;
  font-weight: bold;
  font-size: 1.5em;
}

.naviItem2 {
  font-size: 1.2em;
  color: #FFF;
}

.naviItem2:hover {
  color: #333;
}

.naviItem:hover {
  color: #999;
}

.selected {
  color: #CCC;
}

.naviMenu, .naviMenu2 {
  position: fixed;
  top: 0;
  margin-top: 0;
  margin-left: 0;
  left: $left;
  width: #{$naviWidth};
  height: 100%;
  border-left: solid 0.5px #CCC;
  background-color: #FEFEFE;
  z-index: 50;
}

.navi {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-left: 0;
  width: $left;
  height: 100%;
  border-right:solid 1px #f5f5f5;
  background-color: #FEFEFE;
  z-index: 80;
}

.mainPanel {
  position: absolute;
  left: $left;
  top: 0;
  margin: 0 0;
  width: 100%;
}

@media screen and (max-width: 780px) {
  .logowrap {
    left: 0;
    .l1, .l2 {
    }
  }
  .navi {
    width: 0;
  }
  .mainPanel {
    left: 0;
  }
  .naviMenu, .naviMenu2 {
    left: 0;
  }
}

.naviMenu2 {
  background-color: #484D51;
  width: #{$naviWidth2}
}

.naviShow {
  animation: nshow 0.5s;
}

.naviShow2 {
  animation: nshow2 0.5s;
}

.naviHide {
  animation: nhide 0.5s 1s both;
}

.menuShow {
  animation: mshow 1s;
  animation-fill-mode: both;
}

@keyframes mshow {
  0% {
    opacity: 0;
    transform: translate(-9em);
  }
  60% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes nhide {
  from {
    width: #{$naviWidth};
  }
  to {
    width: 0;
  }
}

@keyframes nshow {
  from {
    width: 0
  }
  to {
    width: #{$naviWidth}
  }
}

@keyframes nshow2 {
  from {
    width: 0
  }
  to {
    width: #{$naviWidth2}
  }
}
