
.detailPage {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
}

.tail {
  opacity: 0;
}

.blank {
  position: fixed;
  width: 100%;
  height: 14vh;
  top: 0;
  left: 0;
  background: #FFF;
  z-index: 32;
}

.detailClose {
  position: fixed;
  width: 14px;
  height: 14px;
  background: url('/static/image/close.png') no-repeat;
  background-size: 100% 100%;
  opacity: 0.5;
  color: white;
  text-align: center;
  z-index: 33;
  cursor: pointer;
  left: 3%;
  top: 5%;

  @media screen and (min-width: 600px) {
    right: 3%;
  }

}

.detailClose:hover {
  transform: scale(1.2);

}
