/*====puzzle====*/

$pz_w: 100%;
$pz_h: 90;
$pz_mh: 250;
.puzzle {
  position: relative;
  padding-top: 7vh;
  width: #{$pz_w};
  height: #{$pz_h}vh;
  z-index: 1;
  @media screen and (max-width: 780px) {
    top: 100px;
    height: 200px;
    padding-top: 0;
    //visibility: hidden;
    display: none;
  }
}

.lm {
  position: relative;
  width: #{$pz_w};
  height: #{$pz_h}vh;
  cursor: pointer;
  .img {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  @media screen and (max-width: 780px) {
    height: #{$pz_mh}px;
  }
  .rt {
    position: relative;
    width: #{$pz_w/2};
    height: #{$pz_h/2}vh;
    float: right;
    .img {
      width: 100%;

      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }

    @media screen and (max-width: 780px) {
      height: #{$pz_mh/2}px;
    }
  }

  .rb1, .rb2 {
    position: relative;
    width: #{$pz_w / 2};
    height: #{$pz_h/2}vh;
    float: left;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }

    @media screen and (max-width: 780px) {
      height: #{$pz_mh/2}px;
    }
  }

}

/*-----puzzle end----*/
#news {
  width: 100%;
  zoom:1;
  overflow: hidden;
}

.topline {
  position: relative;
  height: auto;
  min-height: 800px;
  display: block;
  overflow: hidden;
  zoom: 1;
}

$tl_sp: 4;
$tl_p_h: 7.5;
$tl_padding: 6;
.tl_panel {
  position: relative;
  width: 97%;
  left:1%;
  height: #{$tl_p_h}rem;
  border-bottom: 1px #f2f2f2 solid;
  zoom: 1;
  overflow: hidden;
  padding-top: 1rem;
  padding-bottom: 1rem;
  @media screen and (max-width: 780px) {
    height: 13rem;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
    @media screen and(max-width: 780px) {
      float: left;
      left: 0;
    }
  }
  div {
    position: relative;
    width: 50%;
    @media screen and (max-width: 780px) {
      width: 100%;
    }
  }

  .top_content {
    margin-top: .6rem;
    padding: .7rem .4rem;
    box-sizing: border-box;
    @media screen and (max-width: 780px) {
      margin-top: 0;
      top: 80px;
      padding: .3rem .4rem;
    }
    .title {
      //margin-left: #{$tl_sp}vw;
      width: 80%;
      height: auto;
      font-size: .5rem;
    }

    .info {
      //margin-left: #{$tl_sp}vw;
      margin-top: 1rem;
      width: 100%;
      line-height: .55rem;
      height: auto;
      font-size: .3rem;

      @media screen and (max-width: 780px) {
        margin-top: .3rem;
      }
    }
    .time {
      //margin-left: #{$tl_sp}vw;
      margin-top: .2rem;
      width: 80%;
      line-height: 2em;
      height: auto;
      font-size: .25rem;


    }
    .readBtn {
      //margin-left: #{$tl_sp}vw;
      width: 1.4rem;
      margin-top: .2rem;
      cursor: pointer;
      text-align: center;
      border: 1px solid;
      border-radius: 2px;
      height: .5rem;
      font-size:.2rem;
      line-height: .5rem;
      color: #cbcbcb;
    }
    .readBtn:hover {
      color: #484d51;
    }
  }

  .tl_image {
    overflow: hidden;
    border-radius: 5px;
    //height: #{$tl_p_h - 12}vh;
    padding-top: 4vh;
    height: 90%;
    @media screen and (max-width: 780px) {
      height: auto;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.coverPanel {
  position: relative;
  top: 28vh;
  width: 100%;
  text-align: left;

  @media screen and (max-width: 780px) {
    top: 120px;
  }
}

.article {
  position: fixed;
  top: 0;
  width: 100%;
  height: 600px;
}

.coverPage {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index:1;
  @media screen and (max-width: 780px) {
    height: 650px;
  }
}

/*=======封面效果======*/

.coverTitle {
  height: 2em;
  font-size: 1.5em;
  letter-spacing: 0.5em;
  color: RGB(192, 164, 144);
}

.arrow1 {
  background-image: url('/static/image/downArrow.png');
  background-repeat: no-repeat;
  position: relative;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  width: 22px;
  height: 15px;
  top: -3vh;

  @media screen {
    top: -20px
  }
}

.coverIntro {
  position: relative;
  top: 0;
  //left:10vw;
  height: 16vh;
  color: white;
  .detailButton {
    position: relative;
    margin-left: 10vw;
    top: 10px;
    z-index: 1;
  }
  .info {
    margin-left: 10vw;
    width: 60vw;
    position: relative;
    margin-top: 1vh;
    font-size: 2.5vw;
    @media screen and (max-width: 780px) {
      font-size: 28px;
    }
  }
  .time {
    margin-left: 10vw;
    width: 40vw;
    position: relative;
    margin-top: 2vh;
    font-size: 1.8vw;
    @media screen and (max-width: 780px) {
      font-size: 22px;
    }
  }
  @media screen and (max-width: 780px) {
    top: 30px;
    width: 100vw;
  }
}

/*-------封面End------*/

.notelist {
  position: relative;
  height: auto;
  zoom: 1;
  .titleText {
    position: relative;
    text-align: center;
    width: 100%;
    height: 2rem;
    margin-bottom: 40px;
    @media screen and (max-width: 780px) {
      border-bottom: solid 1px #f2f2f2;
    }
    span {
      margin: 0 auto;
    }
  }
}

$note_i_w: 180px;
$note_sp_w: 7vw;
$note_font: 0.3;
$line-height: 0.4;
.notepanel{
  width:100%;
  margin:0 auto;
  overflow: hidden;
  zoom:1;
}

.note {
  position: relative;
  border-bottom: dashed 1px #F2F2F2;
  width: 80%;
  height: 4rem;
  margin: 0 auto;
  overflow: hidden;

  @media screen and (max-width: 780px) {
    height: 9rem;
    width: 100%;
    border-bottom: dashed 1px #CCC;
  }

  .noteImage {
    position: relative;
    float: right;
    width: 25%;
    height: 2.4rem;
    overflow: hidden;
    img {
      width: auto;
      height: 100%;;
    }

    @media screen and (min-width: 600px) {
      border-radius: 2px;
    }
    @media screen and (max-width: 780px) {
      width: 100vw;
      height: 40vw;
      float: left;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .noteInfo {
    position: relative;
    float: left;
    width: 75%;
    padding-right: .4rem;
    box-sizing: border-box;
    overflow: hidden;
    @media screen and (max-width: 780px) {
      top: 10px;
      width: 100%;
      padding: .4rem .4rem;
    }
    .title {
      position: relative;
      display: block;
      //height: 10vh;
      overflow: hidden;
      @media screen and (max-width: 780px) {
        width: 100vw;
      }
    }
    .noteAbout {
      position: relative;
      width: 100%;
      margin-top:.4rem;
      line-height: #{$line-height}rem;
      font-size: #{$note_font}rem;
      height: #{$note_font*(1+$line-height)*3}rem;
      overflow: hidden;
      @media screen and (max-width: 780px) {
        width: 90vw;
        display: block; /* Fallback for non-webkit */
        display: -webkit-box;
        max-width: 90vw;
        overflow: hidden;
        height: #{$note_font*(1+$line-height)*5}rem;
        text-overflow: ellipsis;
      }
    }
    .noteTime {
      position: relative;
      color: #cbcbcb;
      margin-top:.1rem;
      font-size: .25rem;
    }
  }

}

.cover {
  position: absolute;
  width: 100%;
  height: 90vh;
  float: left;

  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: 780px) {
    height: 600px;
    overflow: hidden;
    img {
      width: auto;
      height: 100%;
    }
  }

}

.titleText {
  font-size: 0.4rem;
  font-weight: bold;
  font-family: 'STSong', 宋体, sans-serif;
}

.underCover {
  position: absolute;
  width: 100%;
  top: 80vh;
  text-align: center;
  margin: 0 auto;
  z-index: 0;
  div {
    margin: 0 auto;
    div {
      position: relative;
      width: 15px;
      height: 1px;
      left: -5px;
      top: -20px;
      margin-top: 9px;
      background-color: #C0A490;
      transform: rotate(30deg);
    }
    div:before {
      content: '';
      position: absolute;
      width: 15px;
      left: 11px;
      top: -6.5px;
      height: 1px;
      background-color: #C0A490;
      transform: rotate(120deg);
    }

  }
  @media screen and (max-width: 780px) {
    left: 0;
    top: 550px;
  }

}

@media screen and (max-width: 780px) {

  .article {
    left: 0;
  }
  #news {
    width: 100%;
  }
  .coverPage {

  }

}
