$pageHeight: 110vh;
$left: 70px;

#news {
  width: calc(100% - #{$left});
}

.coverPanel {
  position: relative;
  top: 20%;
  height: 80%;
  width: 100%;
  text-align: left;
}

.article {
  position: fixed;
  top: 0;
  left: #{$left};
  width: calc(100vw - #{$left});
  height: 100vh;
}

.panel {
  position: relative;
  margin-left: 10%;
  z-index: 1;
  top: 0;
  letter-spacing: 0.1em;
}

.coverPage {
  position: relative;
  width: 100%;
  height: $pageHeight;
}

/*=======封面效果======*/

.coverTitle {
  height: 2em;
  font-size: 1.5em;
  letter-spacing: 0.5em;
  color: RGB(192, 164, 144);
}

.coverIntro {
  height: 4em;
  font-size: 3em;
  color: white;
}

/*-------封面End------*/

.notelist {
  position: relative;
  width: calc(100% - #{$left});
}

.noteImage {
  position: relative;
  float: right;
  right: 26vh;
  width: 220px;
  height: 220px;
}

.note {
  height: $pageHeight/2;
}

.cover {
  position: absolute;
  width: 100%;
  height: 80vh;
  float: left;
  border: solid 1px #CCC;
}

.underCover {
  position: absolute;
  width: 100%;
  height: 220px;
  left: 0;
  top: 50vh;
  text-align: center;
  margin: 0 auto;
  z-index: -1;
  opacity: 0.8;
  font-size: 25px;
  font-family: 'STSong', 宋体, sans-serif;
}

@media screen and (max-width: 780px) {

  #news {
    width: 100%;
  }
  .article {
    left: 0;
  }
  .coverPage {

  }
  .detailButton {
    top: 30px;
  }
  .cover {
    width:calc(100vw - 2px);
    height: 115vw;
  }
  .underCover {
    top:0;
    height:110vh;
  }
}
