$pageHeight: 110vh;
$left: 70px;

/*====puzzle====*/

$pz_width:84vw;
.puzzle {
  top: 80px;
  width: #{$pz_width};
  height: auto;
}
.lm {
  position: relative;
  width: #{$pz_width};
  height: 30vw;
  img {
    position: relative;
    float: left;
    width: #{$pz_width/2};
    height: 30vw;
  }
}

.rt {
  position: relative;
  width:#{$pz_width/2};
  height: 15vw;
  float: right;
  img {
    width: 100%;
    height: 100%;
  }
}

.rb1, .rb2 {
  position: relative;
  width: #{$pz_width / 4};
  height: 15vw;
  float: left;
  img {
    width: 100%;
    height: 100%;
  }
}

/*-----puzzle end----*/
#news {
  width: calc(100% - #{$left});
}

.left {
  float: left;
}

.right {
  float: right;
}

.topline {
  position: relative;
  height: auto;
  zoom: 1;
  overflow: hidden;
}

.tl_panel {
  position: relative;
  width: calc(100% - #{$left});
  height: auto;
  div {
    position: relative;
    width: 50%;
    height: 80vh;
    top: 50px;
    img {
      width: 100%;
      height: 80%;
    }
    .right {
      left: 20px;
    }
    .title3 {
      margin-left: 50px;
      width: 80%;
      height: 2em;
    }
    .content2 {
      margin-left: 50px;
      margin-top: 30px;
      width: 80%;
      height: auto;
    }
  }
}

.coverPanel {
  position: relative;
  top: 20%;
  height: 80%;
  width: 100%;
  text-align: left;
}

.article {
  position: fixed;
  top: 0;
  left: #{$left};
  width: calc(100vw - #{$left});
  height: 100vh;
}

.panel {
  position: relative;
  margin-left: 10%;
  z-index: 1;
  top: 0;
  letter-spacing: 0.1em;
}

.coverPage {
  position: relative;
  width: 100%;
  height: $pageHeight;
}

/*=======封面效果======*/

.coverTitle {
  height: 2em;
  font-size: 1.5em;
  letter-spacing: 0.5em;
  color: RGB(192, 164, 144);
}

.coverIntro {
  height: 4em;
  font-size: 3em;
  color: white;
}

/*-------封面End------*/

.notelist {
  position: relative;
  width: calc(100% - #{$left});
  top:40px;
  overflow: hidden;
  zoom:1;
  .title1{
    text-align: center;
    width:100%;
    font-size:16px;
    font-weight: bold;
    margin-bottom: 80px;
  }
}

.noteImage {
  position: relative;
  float: right;
  right: 26vh;
  width: 220px;
  height: 180px;
}


.note {
  position: relative;
  height: $pageHeight/2;
  .title3{
    position: relative;
    top:30px;
    width:40%;
    height:5em;
    font-size:14px;
  }
  .content1{
    position: relative;
    width:40em;
    height:5em;

  }
}

.cover {
  position: absolute;
  width: 100%;
  height: 80vh;
  float: left;
  border: solid 1px #CCC;
}

.underCover {
  position: absolute;
  width: 100%;
  height: 220px;
  left: -#{$left};
  top: 50vh;
  text-align: center;
  margin: 0 auto;
  z-index: -1;
  opacity: 0.8;
  font-size: 25px;
  font-family: 'STSong', 宋体, sans-serif;
}

@media screen and (max-width: 780px) {

  #news {
    width: 100%;
  }
  .article {
    left: 0;
  }
  .coverPage {

  }
  .detailButton {
    top: 30px;
  }
  .cover {
    width: calc(100vw - 2px);
    height: 115vw;
  }
  .underCover {
    top: 0;
    left: 0;
    height: 110vh;
  }
}
