$pageHeight: 110vh;

#product {
  background: #fefdfc;
  //padding-left: 20px;
  //padding-right: 30px;
}

.products {
  position: relative;
  height: auto;
  width: 100%;
  border-top: 1px #f2f2f2 solid;
  margin-top: 17vh;
}

.product_panel {
  position: relative;
  height: 70vh;
  zoom: 1;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px #f2f2f2 solid;
  @media screen and (max-width: 780px) {
    margin: 0 auto;
    height: 600px;
  }
  .product_info {
    position: relative;
    @media screen and (max-width: 780px) {
      width:100%;
    }

    .panel {
      position: relative;
      text-align: left;
      width: 30vw;
      padding-top: 2vw;
      margin: 0 auto;

      @media screen and (max-width: 780px) {
        margin-top:100px;
        width:60%;
      }

      .title2 {
        position: relative;
        font-size: .2rem;

        }
      .product_name {
        position: relative;
        margin-top:3vh;
        @media screen and (max-width: 780px) {
          top: 40px;
        }
      }
      .product_desc {
        position: relative;
        line-height: .4rem;
        margin: 0 auto;
        text-align: left;
        margin-top: 5vh;
        width: 100%;
        @media screen and (max-width: 780px) {
          top: 45px;
        }
      }
    }
  }

  .left {
    position: relative;
    float: left;
    width: calc(50% - 1px);
    border-right: 1px #f2f2f2 solid;
    height: 100%;
    padding-bottom: 15vh;
    padding-top: 15vh;
    box-sizing: border-box;

    @media screen and (max-width: 780px) {
      float: none;
      width: 100%;
      height: 30%;
      padding-bottom: 0;
      padding-top: 0;
    }
  }
  .right {
    box-sizing: border-box;
    padding-bottom: 15vh;
    padding-top: 15vh;
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
    @media screen and (max-width: 780px) {
      float: none;
      width: 100%;
      height: 30%;
      padding-bottom: 0;
      padding-top: 0;
    }
  }
}

.product_img {
  img {
    width: 50vh;
    height: auto;
    @media screen and (max-width: 780px) {
      width: 50vw;
      margin-top:40px;
    }
  }
}

.brand_intro {
  position: relative;
  width: 100%;
  top: 10vh;
  height: auto;
  text-align: center;
  margin: 0 auto;
  @media screen and (max-width: 780px) {
    top: 100px;
  }
  img {
    width: 20vw;
    height: auto;
  }
  .text {
    text-align: center;
    margin: 0 auto;
    position: relative;
    font-size: .2rem;
    width: 76vw;
  }
}

@media screen and (max-width: 780px) {

  .brand_intro {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    img {
      margin-top: 20px;
      width: 150px;
      height: 60px;
    }
  }
}

